<%= form_for(@site) do |f| %>
  <% if @site.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@site.errors.count, "error") %> prohibited this site from being saved:</h2>

      <ul>
      <% @site.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :title, :placeholder=>'Title' %>
  </div>
  <div class="field">
    <%= f.text_field :link, :placeholder=>'url' %>
  </div>
  <div class="field">
    <textarea name="site[desc]" placeholder="description"><%= @desc %></textarea>
  </div>
  <div id="name" class="field">
      <input type="hidden" name="site[category_id]"/>
      <input type="text" name="category_id" placeholder="category" id="category" />
      <br><br>
            <% for category in @categories %>
              <a href onClick="inputCat('<%= category.title %>')"> <code><%= category.title %> </code></a>
            <% end %>
  </div>
  <!--
  <div class="field">
    <%= f.label :profile_id %><br />
    <%= f.number_field :profile_id %>
  </div>
  -->
  <input type="hidden" name="site[profile_id]" value="<%=@profile_id%>">
  <div class="actions">
    <input type="submit" name="submit" value="Submit" class="btn-large btn-primary">
  </div>
<% end %>

<script type="text/javascript" charset="utf-8">
    function inputCat(category){
        document.getElementById('category').value = category;
    }
</script>
