<div id="index_site" class="row" style="padding-left:20px">
<% @categories.each do |cat| %>
<a href="/sites/cat/<%= cat.id %>"><code><%= cat.title %></code></a>
<% end %>

<br><br>
<div id="container" class="clearfix">

   
<% @sites.each do |site| %>

  <div class="box col1 well">

		      <b><a href="<%= site.link %>"><%= site.title %></a></b>
      <p><i> <%= site.desc %></i></p>
<!--        <button class="btn"> <%= link_to 'Show', site %> </button> -->
        <button onclick='window.location.replace("/sites/<%=site.id%>/edit")' class="btn"> <%= link_to 'Edit', edit_site_path(site) %> </button>
        <button class="btn"> <%= link_to 'Destroy', site, confirm: 'Are you sure?', method: :delete %> </button>
        <br>
        <br>
      category : <a href="/sites/cat/<%=site.category_id%>" style="color: red">

      <% if(!site.category_id.nil?) %> 
      
      <%= site.category_name %>

      <% end %>


      </a>
      <br>
      <font size="1" color="grey"><%= site.created_at %></font>
      <br>
      <br>
      <div id="name" class="name" style="float:right">
      <script>var fbShare = {
      url: '<%= site.link %>',
      size: 'small',
      badge_text: 'C0C0C0',
      badge_color: 'bebebe',
      google_analytics: 'true'
      }</script>
      <script src="http://widgets.fbshare.me/files/fbshare.js"></script>
      </div>
      <div id="name" class="name">
         <a href="https://twitter.com/share" class="twitter-share-button" data-url="<%= site.link %>" data-text="<%= site.desc %>">Tweet</a>
         <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>

  </div>




<% end %>

</div>



</div> <!-- #container -->


<script>
  $(function(){
    
    $('#container').masonry({
      itemSelector: '.box'
    });

  });
</script>

    



<div id="new_site" style="display:none">
<%= render 'form' %>
</div>

    
