<div id="index_site" class="row">
<% @categories.each do |cat| %>
<a href="/sites/cat/<%= cat.id %>"><code><%= cat.title %></code></a>
<% end %>
<br><br>
<div id="name" class="row">
   
<% @icat = 1 %>
<% @sites.each do |site| %>
<% @icat = @icat + 1 %>
<div id="name" class="span4">
    <ul class="thumbnails">
      <li class="span3 well">
      <b><a href="<%= site.link %>"><%= site.link %></a></b>
      <p><i> <%= site.desc %></i></p>
<!--        <button class="btn"> <%= link_to 'Show', site %> </button> -->
        <button onclick='window.location.replace("/sites/<%=site.id%>/edit")' class="btn"> <%= link_to 'Edit', edit_site_path(site) %> </button>
        <button class="btn"> <%= link_to 'Destroy', site, confirm: 'Are you sure?', method: :delete %> </button>
        <br>
        <br>
      category : <a href="/sites/cat/<%=site.category_id%>"><span class="category<%= @icat %>"></span></a>
      <br>
      <font size="1" color="grey"><%= site.created_at %></font>
      </li>
    </ul>
</div>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
        $.get("/profile/cat/<%= site.category_id %>", function(data){
            $(".category<%= @icat %>").html(data)
        });
    });
</script>   

<% end %>
</div>
</div>


<div id="new_site" style="display:none">
<%= render 'form' %>
</div>

