<div id="name" class="row">
    
<% @sites.each do |site| %>
<div id="name" class="span4">
    <ul class="thumbnails">
      <li class="span3 well">
      <b><a href="<%= site.link %>"><%= site.link %></a></b>
      <p><i> <%= site.desc %></i></p>
        <button class="btn"> <%= link_to 'Show', site %> </button>
        <button class="btn"> <%= link_to 'Edit', edit_site_path(site) %> </button>
        <button class="btn"> <%= link_to 'Destroy', site, confirm: 'Are you sure?', method: :delete %> </button>
      </li>
    </ul>
</div>
<% end %>


</div>
