<p id="notice"><%= notice %></p>

<p>
  <b>Link:</b>
  <%= @site.link %>
</p>

<p>
  <b>Desc:</b>
  <%= @site.desc %>
</p>

<p>
  <b>Profile:</b>
  <%= @site.profile_id %>
</p>


<%= link_to 'Edit', edit_site_path(@site) %> |
<%= link_to 'Back', sites_path %>

