<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bookmarking Sites</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Onlinekarta is a free service that lets you save, categorize, and manage your links/urls anywhere and share them easily. Never depend on your browser or laptop again!">
    <link rel="image_src" href="/assets/onlinekarta.png" />
    <meta name="author" content="">
 <link href="/assets/bootstrap.css?body=1" media="all" rel="stylesheet" type="text/css" /> 
    <!-- Le styles -->
  <%= stylesheet_link_tag    "bootstrap", "style", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "bootstrap" %>
  <%= javascript_include_tag "jquery.masonry.min" %>
<!--  <%= javascript_include_tag :defaults %> -->
  <%= csrf_meta_tags %>
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="../assets/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="../assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>
    
    <!--
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Project name</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div
    -->

    <div class="container">

    <div id="name" class="row">
    <i class="icon-search"></i>
    <a href="/" class="span1 btn"  id="btn_add_site"><span>Home</span></a>
    <a class="span1 btn" onclick="add_site()" id="btn_add_site"><span>Add Site</span></a>
    <a class="span2 btn" onclick="add_site()" id="btn_view_mysites" style="display:none"><span>View MySites</span></a>
    <a href="/categories" class="span2 btn"><span>Manage Categories</span></a>
    <a href="/profile/logout" class="span2 btn" style="float:right"><span>Log Out</span></a>
    <span style="float:right">hi, <b><%= session[:username] %></b>!</span>
    </div>
    <hr>
        
        <%= yield %>


    <div id="name" class="name" style="height:140px;">
    </div>
    <hr>
       <footer>
           <span> written in Ruby on Rails, hosted on Heroku, here the <a href="https://github.com/evnpr/bookmark">Source Code</a></span>
       </footer>

    </div> <!-- /container -->


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster 
    <script src="../assets/js/jquery.js"></script>
    <script src="../assets/js/bootstrap-transition.js"></script>
    <script src="../assets/js/bootstrap-alert.js"></script>
    <script src="../assets/js/bootstrap-modal.js"></script>
    <script src="../assets/js/bootstrap-dropdown.js"></script>
    <script src="../assets/js/bootstrap-scrollspy.js"></script>
    <script src="../assets/js/bootstrap-tab.js"></script>
    <script src="../assets/js/bootstrap-tooltip.js"></script>
    <script src="../assets/js/bootstrap-popover.js"></script>
    <script src="../assets/js/bootstrap-button.js"></script>
    <script src="../assets/js/bootstrap-collapse.js"></script>
    <script src="../assets/js/bootstrap-carousel.js"></script>
    <script src="../assets/js/bootstrap-typeahead.js"></script>
    -->
    <script type="text/javascript" charset="utf-8">
            function add_site(){
                $("#index_site").toggle("fast");
                $("#new_site").toggle("hide");
                $("#btn_add_site").toggle();
                $("#btn_view_mysites").toggle();
            }
                
            function submit_new_site(){
                site_link = document.getElementById('site_link').value ;
                site_desc = document.getElementById('site_desc').value ;
                site_profile_id = document.getElementById('site_profile_id').value ;
                $.post("/sites/create",{sitelink:'site_link', sitedesc:'site_desc', siteprofileid:'site_profile_id'},function(result){
                    $("#content").html(result);
                });
            }
    </script>
  </body>
</html>


